<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>ling-notes</title>

    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <style type="text/css">
    </style>

</head>



<body>

<div class="bodywrap" id="bodywrap">

    <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="the-navbar">
        <a class="navbar-brand" href="#">ling-notes</a>
    </nav> -->

    <div class="container-fluid page hiddent fixed-bottom bg-dark text-light" id="page-player" _v-if="current_audio_meta&&current_audio_meta.url"><div class="container py-1">
        <div class="row audio-wrap" id="audio-wrap">
            <div class="col-12 col-md-6 audio-meta">
                <p><span>{{ current_audio_meta.name || '[暂无文件]' }}</span><span v-if="player.range.working">[{{ player.range.start }}-{{ player.range.end }}]</span><span v-if="player.rate != 1">（{{ player.rate }}倍速）</span><span class="hidden">{{ player.currentTime }}</span></p>
            </div>
            <div class="col-12 col-md-6 audio-control">
                <div class="btn-group btn-group-sm">
                    <button type="button" name="player-Last" id="player-Last" class="btn btn-dark btn-player-ctrl" v-on:click="playerLast()">⏮</button>
                    <button type="button" name="player-Next" id="player-Next" class="btn btn-dark btn-player-ctrl" v-on:click="playerNext()">⏭</button>
                    <button type="button" name="player-play" id="player-play" class="btn btn-dark btn-player-ctrl" v-if="1-player.playing" v-on:click="playOrPause()">▶️</button>
                    <button type="button" name="player-pause" id="player-pause" class="btn btn-dark btn-player-ctrl" v-if="player.playing" v-on:click="playOrPause()">⏸</button>
                    <button type="button" name="player-jumpLeft" id="player-jumpLeft" class="btn btn-dark btn-player-ctrl">⏪</button>
                    <button type="button" name="player-jumpRight" id="player-jumpRight" class="btn btn-dark btn-player-ctrl">⏩</button>
                    <button type="button" name="player-jumpOut" id="player-jumpOut" class="btn btn-dark btn-player-ctrl" v-if="player.range.working" v-on:click="jumpOut()">⤴️</button>
                    <button type="button" name="player-jumpOut" id="player-jumpOut" class="btn btn-dark btn-player-ctrl" v-if="!player.range.working">🆗</button>
                    <button type="button" name="player-speedDown" id="player-speedDown" class="btn btn-dark btn-player-ctrl" v-on:click="speedDown()">⏬</button>
                    <button type="button" name="player-speedUp" id="player-speedUp" class="btn btn-dark btn-player-ctrl" v-on:click="speedUp()">⏫</button>
                </div>
            </div>
        </div>
        <div class="row audio-wrap my-3 hidden" id="audio-wrap">
            <div class="col audio-box">
                <audio ref="audio" _v-on:timeupdate="onTimeUpdate" _v-if="current_audio_meta.url" :src="current_audio_meta.url||null" :id="`audio`" controls="controls" :loop="player.loop">[您的浏览器不支持 h5 的 audio 标签。]</audio>
            </div>
        </div>
    </div></div>

    <!-- <div class="container my-5 page hiddent" id="page-audio"><div class="container py-2">
    </div></div> -->

    <div class="container my-1 page hiddent" id="page-import"><div class="container py-2">
        <div class="row">
            <div class="col">
                <form name="audio-form" class="container">
                    <div class="row" id="audioPicker">
                        <div class="col-md-8 my-2">
                            <input type="file" class="form-control" name="audio-input" id="audio-input" multiple="multiple" accept="audio/*" />
                        </div>
                        <div class="btn-group col-md-4 my-2">
                            <button type="button" name="do_import_audio" id="do_import_audio" class="btn btn-primary" v-on:click="onImportAudio">💽</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form name="file-form" class="container">
                    <div class="row" id="filePicker">
                        <!-- <label for="file-input" class="col-md-2 my-2 col-form-label text-md-right">选择文件：</label> -->
                        <div class="col-md-8 my-2">
                            <input type="file" class="form-control" name="file-input" id="file-input" multiple="multiple" data-accept=".json, .md, .txt" />
                        </div>
                        <div class="btn-group col-md-4 my-2">
                            <button type="button" name="do_import" id="do_import" class="btn btn-primary" v-on:click="onImport">📥</button>
                            <button type="button" name="do_export" id="do_export" class="btn btn-info" v-on:click="onExport">📤</button>
                            <button type="button" name="do_toggle" id="do_toggle" class="btn btn-secondary" v-on:click="readonly=(1-readonly)">🖊</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div></div>

    <div class="container my-5 py-2 page" id="page-read" :class="{'hidden': readonly ? false : true}"><div class="container py-1">

            <div class="row my-1">
                <div v-for="chunk in chunks" class="col" :class="(chunk._type=='词'||chunk._type=='发') ? 'col-6 col-md-3' : ((chunk._type=='句') ? 'col-12 col-lg-6' : ((chunk._type=='短') ? 'col-12 col-md-6 col-xl-3' : 'col-12'))">
                    <div :class="(chunk._type=='词'||chunk._type=='发'||chunk._type=='短'||chunk._type=='句') ? 'card-wrap' : 'card-not'">
                        <div v-if="chunk._type=='title'||chunk._type=='plain'" v-html="markup(chunk.origin)">
                        </div>
                        <div v-if="(chunk._type=='词'||chunk._type=='发'||chunk._type=='短'||chunk._type=='句')">
                            <div class="chunk-detail chunk-abs"><div v-html="markup(chunk.abs)"></div></div>
                            <div class="chunk-detail chunk-phon"><button vv-if="chunk._phon" type="button" class="btn btn-sm btn-light" v-on:click="playRange(chunk)" v-html="chunk._phon ? markup(chunk._phon) : '<p>▶️</p>'"></button></div>
                            <div class="chunk-detail chunk-def"><div v-html="markup(chunk._def)" v-if="chunk._def"></div></div>
                            <!-- <div class="chunk-detail chunk-play"></div> -->
                        </div>
                    </div>
                </div>
            </div>

    </div></div>

    <div class="container my-5 py-2 page" id="page-edit" :class="{'hidden': readonly ? true : false}"><div class="container card-wrap py-1">

            <div v-for="chunk in chunks" class="row my-1">
                <div v-if="chunk._type=='title'||chunk._type=='plain'" class="col">
                    <textarea class="form-control form-control-sm" rows="1" v-model="chunk.origin"></textarea>
                </div>
                <div v-if="chunk._type=='词'||chunk._type=='短'||chunk._type=='句'" class="col col-3">
                    <div class="input-group">
                        <input class="form-control form-control-sm" type="text" v-model="chunk._au_file">
                        <input class="form-control form-control-sm" type="text" v-model="chunk._au_start">
                        <input class="form-control form-control-sm" type="text" v-model="chunk._au_end">
                    </div>
                </div>
                <div v-if="chunk._type=='词'||chunk._type=='短'||chunk._type=='句'" class="col col-3">
                    <textarea class="form-control form-control-sm" rows="1" v-model="chunk.abs"></textarea>
                </div>
                <div v-if="chunk._type=='词'||chunk._type=='短'||chunk._type=='句'" class="col col-3">
                    <input class="form-control form-control-sm" type="text" v-model="chunk._phon">
                </div>
                <div v-if="chunk._type=='词'||chunk._type=='短'||chunk._type=='句'" class="col col-3">
                    <input class="form-control form-control-sm" type="text" v-model="chunk._def">
                </div>
            </div>

    </div></div>

</div>





<footer class="pt-4 bg-dark text-white" id="footer">
    <div class="container text-center">
        <p>Github: <a href="https://github.com/gitforziio/ling-notes-reader" target="_blank">@gitforziio/ling-notes-reader</a></p>
    </div>
</footer>

<script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
<!-- <script src="https://cdn.bootcss.com/d3/5.12.0/d3.min.js"></script> -->
<script src="https://cdn.bootcdn.net/ajax/libs/xregexp/3.2.0/xregexp-all.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/marked/1.1.0/marked.min.js"></script>

<script type="text/javascript" src="js/FileSaver.js"></script>
<script type="text/javascript" src="js/main.js"></script>

<script type="text/javascript">
</script>

</body>

</html>
